.imageStyling {
    display: none;
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}
.mainContainer:hover .articleTitle{
    color: #DA0060;
    width: fit-content;
}
.mainContainer:hover .tileLayout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0.4;
}